.back{
    background-image: url(https://th.bing.com/th/id/OIP.TPAFka7lBo6S1zUR2kX01AHaED?pid=ImgDet&rs=1);
    background-repeat: no-repeat;
    padding: 10%;
    color: gray;
    background-size: cover;
}
.back2{
    text-align: center;
    font-weight: 500;
    background: conic-gradient(white,transparent,blue,transparent);
    display: inline-block;
}