.back{
    background-image: url(https://th.bing.com/th/id/OIP.u4EBes6Muu2fy7iM8igMugHaFX?pid=ImgDet&rs=1);
    background-repeat: no-repeat;
    padding: 10% 1%  ;
    color: white;
    background-size: cover;
}