.fond {
    background-image: url("https://www.imagine-developpement.net/photos_site/1566389404metier-analyste-programmeur.jpg" );
padding: 40% 20%;
background-repeat: no-repeat;
background-size: cover;
}
